<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KKD - Real Estate Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h3 style="text-align: center; font-size: 40px">KKD - Real Estate Dashboard</h3>
    <hr>
    <button id="clear-button">Clear All Filters</button>
    <div class="checkbox-grid">
        <!-- Example for Year input field -->
<div class="checkbox-item">
    <label for="year">Year</label>
    <input type="checkbox" id="year" onchange="toggleInput(event, 'year-input')" title="Select the year the property was built">
    <div class="toggle-input-wrap">
        <input type="number" id="year-input" class="toggle-input" placeholder="0-{{ maximums['year'] }}" min="0" max="{{ maximums['year'] }}">
    </div>
</div>
        <div class="checkbox-item">
            <label for="color">Color</label>
            <input type="checkbox" id="color" onchange="toggleInput(event, 'color-input')">
            <div class="toggle-input-wrap">
                <select id="color-input" class="toggle-input">
                    <option value="" selected disabled>Color</option>
                    {% for color in unique_values['colors'] %}
                    <option value="{{ color }}">{{ color }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="checkbox-item">
            <label for="remodeled">Remodeled</label>
            <input type="checkbox" id="remodeled" onchange="toggleInput(event, 'remodeled-input')">
            <div class="toggle-input-wrap">
                <input type="number" id="remodeled-input" class="toggle-input" placeholder="-1-{{ maximums['remodeled'] }}" min="-1" max="{{ maximums['remodeled'] }}">
            </div>
        </div>
        <div class="checkbox-item">
            <label for="bathrooms">Bathrooms</label>
            <input type="checkbox" id="bathrooms" onchange="toggleInput(event, 'bathrooms-input')">
            <div class="toggle-input-wrap">
                <input type="number" id="bathrooms-input" class="toggle-input" placeholder="0-{{ maximums['bathrooms'] }}" min="0" max="{{ maximums['bathrooms'] }}">
            </div>
        </div>
        <div class="checkbox-item">
            <label for="days_on_marked">Days on Market</label>
            <input type="checkbox" id="days_on_marked" onchange="toggleInput(event, 'days_on_marked-input')">
            <div class="toggle-input-wrap">
                <input type="number" id="days_on_marked-input" class="toggle-input" placeholder="0-{{ maximums['days_on_marked'] }}" min="0" max="{{ maximums['days_on_marked'] }}">
            </div>
        </div>
        <div class="checkbox-item">
            <label for="external_storage_m2">External Storage (m²)</label>
            <input type="checkbox" id="external_storage_m2" onchange="toggleInput(event, 'external_storage_m2-input')">
            <div class="toggle-input-wrap">
                <input type="number" id="external_storage_m2-input" class="toggle-input" placeholder="m²" min="0" max="{{ maximums['external_storage_m2'] }}">
            </div>
        </div>
        <div class="checkbox-item">
            <label for="kitchens">Kitchens</label>
            <input type="checkbox" id="kitchens" onchange="toggleInput(event, 'kitchens-input')">
            <div class="toggle-input-wrap">
                <input type="number" id="kitchens-input" class="toggle-input" placeholder="0-{{ maximums['kitchens'] }}" min="0" max="{{ maximums['kitchens'] }}" step="1">
            </div>
        </div>
        <div class="checkbox-item">
            <label for="lot_w">Lot Width</label>
            <input type="checkbox" id="lot_w" onchange="toggleInput(event, 'lot_w-input')">
            <div class="toggle-input-wrap">
                <input type="number" id="lot_w-input" class="toggle-input" placeholder="0-{{ maximums['lot_w'] }}" min="0" max="{{ maximums['lot_w'] }}">
            </div>
        </div>
        <div class="checkbox-item">
            <label for="price">Price</label>
            <input type="checkbox" id="price" onchange="toggleInput(event, 'price-input')">
            <div class="toggle-input-wrap">
                <input type="number" id="price-input" class="toggle-input" placeholder="0-{{ maximums['price'] }}" min="0" max="{{ maximums['price'] }}">
            </div>
        </div>
        <div class="checkbox-item">
            <label for="rooms">Rooms</label>
            <input type="checkbox" id="rooms" onchange="toggleInput(event, 'rooms-input')">
            <div class="toggle-input-wrap">
                <input type="number" id="rooms-input" class="toggle-input" placeholder="0-{{ maximums['rooms'] }}" min="0" max="{{ maximums['rooms'] }}">
            </div>
        </div>
        <div class="checkbox-item">
            <label for="storage_rating">Storage Rating</label>
            <input type="checkbox" id="storage_rating" onchange="toggleInput(event, 'storage_rating-input')">
            <div class="toggle-input-wrap">
                <input type="number" id="storage_rating-input" class="toggle-input" placeholder="0-{{ maximums['storage_rating'] }}" min="0" max="{{ maximums['storage_rating'] }}">
            </div>
        </div>
        <div class="checkbox-item">
            <label for="sun_factor">Sun Factor</label>
            <input type="checkbox" id="sun_factor" onchange="toggleInput(event, 'sun_factor-input')">
            <div class="toggle-input-wrap">
                <input type="number" id="sun_factor-input" class="toggle-input" placeholder="0-{{ maximums['sun_factor'] }}" min="0" max="{{ maximums['sun_factor'] }}">
            </div>
        </div>
    </div>
    <hr>
    <div id="predicted-price"></div>

<script>
    function toggleInput(event, inputId) {
        const input = document.getElementById(inputId);
        input.classList.toggle('show', event.target.checked);
    }

    function fetchPrediction() {
        const inputs = {};
        document.querySelectorAll('.checkbox-item input.toggle-input, .checkbox-item select.toggle-input').forEach(input => {
            if (input.classList.contains('show')) {
                inputs[input.id.replace('-input', '')] = input.value || null;
            }
        });

        fetch('/predict', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(inputs)
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('predicted-price').innerHTML = `<div style="text-align: center; font-size: 40px">Estimated Price: ${data.price}</div>`;
        });
    }

    document.getElementById('clear-button').addEventListener('click', () => {
        // Trigger blinking animation on the whole checked .checkbox-item
        const checkedElements = document.querySelectorAll('.checkbox-item input[type="checkbox"]:checked');
        checkedElements.forEach(checkbox => {
            const checkboxItem = checkbox.closest('.checkbox-item');
            if (checkboxItem) checkboxItem.classList.add('blink');
        });

        // Clear and hide inputs immediately
        checkedElements.forEach(checkbox => checkbox.checked = false);

        document.querySelectorAll('.toggle-input').forEach(input => {
            input.value = '';
            input.classList.remove('show');
        });

        fetchPrediction(); // Ensure the prediction is updated after clearing filters

        // Remove blink class after the blink duration to allow blinking continuation
        setTimeout(() => {
            const elements = document.querySelectorAll('.blink');
            elements.forEach(el => el.classList.remove('blink'));
        }, 500); // Match the blink animation duration
    });

    document.querySelectorAll('.checkbox-item input[type="number"], .checkbox-item select').forEach(el => {
        el.addEventListener('input', fetchPrediction);
    });

    document.querySelectorAll('.checkbox-item input[type="checkbox"]').forEach(el => {
        el.addEventListener('change', fetchPrediction);
    });
</script></body>
</html>